# ChefBoost is a lightweight decision tree framework for Python with categorical feature support

# It handles decision tree algorithms: ID3, C4.5, CART, CHAID and regression tree

In [ ]:
#pip install chefboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting chefboost
  Downloading chefboost-0.0.17-py3-none-any.whl (26 kB)
Requirement already satisfied: tqdm>=4.30.0 in /usr/local/lib/python3.7/dist-packages (from chefboost) (4.64.0)
Requirement already satisfied: psutil>=5.4.3 in /usr/local/lib/python3.7/dist-packages (from chefboost) (5.4.8)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from chefboost) (1.21.6)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from chefboost) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.22.0->chefboost) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.22.0->chefboost) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->chefboost) (1.15.0)
Installing collected packages: chefboost
Successfully installed chefboost-0.0.17

In [ ]:
from chefboost import Chefboost as chef

In [ ]:
df = pd.DataFrame({"toothed":["True","True","True","False","True","True","True","True","True","False"],
                     "hair":["True","True","False","True","True","True","False","False","True","False"],
                     "breathes":["True","True","True","True","True","True","False","True","True","True"],
                     "legs":["True","True","False","True","True","True","False","False","True","True"],
                     "species":["Mammal","Mammal","Reptile","Mammal","Mammal","Mammal","Reptile","Reptile","Mammal","Reptile"]}, 
                    columns=["toothed","hair","breathes","legs","species"])

features = df[["toothed","hair","breathes","legs"]]
target = df["species"]

df

  toothed   hair breathes   legs  species
0    True   True     True   True   Mammal
1    True   True     True   True   Mammal
2    True  False     True  False  Reptile
3   False   True     True   True   Mammal
4    True   True     True   True   Mammal
5    True   True     True   True   Mammal
6    True  False    False  False  Reptile
7    True  False     True  False  Reptile
8    True   True     True   True   Mammal
9   False  False     True   True  Reptile

In [ ]:
df

  toothed   hair breathes   legs  species
0    True   True     True   True   Mammal
1    True   True     True   True   Mammal
2    True  False     True  False  Reptile
3   False   True     True   True   Mammal
4    True   True     True   True   Mammal
5    True   True     True   True   Mammal
6    True  False    False  False  Reptile
7    True  False     True  False  Reptile
8    True   True     True   True   Mammal
9   False  False     True   True  Reptile

In [ ]:
config = {'algorithm': 'ID3'}
model = chef.fit(df, config = config, target_label = 'species')

[INFO]:  1 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  0.13833880424499512  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  10  instances
Labels:  ['Mammal' 'Reptile']
Confusion matrix:  [[6, 0], [0, 4]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [ ]:
df

  toothed   hair breathes   legs  species
0    True   True     True   True   Mammal
1    True   True     True   True   Mammal
2    True  False     True  False  Reptile
3   False   True     True   True   Mammal
4    True   True     True   True   Mammal
5    True   True     True   True   Mammal
6    True  False    False  False  Reptile
7    True  False     True  False  Reptile
8    True   True     True   True   Mammal
9   False  False     True   True  Reptile

In [ ]:
prediction = chef.predict(model, param = ['True','True','True','True'])

In [ ]:
prediction

'Mammal'

In [ ]:
prediction = chef.predict(model, param = ['False','False','True','True'])
prediction

'Reptile'